@use '../../assets/scss/index' as *;

.sub-navs {
  padding: 21px 30px;
  cursor: pointer;
  color: $secondary1;
  text-decoration: none;
  position: relative;

  &:hover { background-color: $primary1-hovered; }
  &.active { color: $secondary4; }

  &::after {
    content: '';
    border-color: $lines;
    border-width: 1px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:not(.contact)::after { border-style: hidden solid hidden solid; }
  &.contact::after { border-style: hidden hidden hidden solid; }
}

.navbar {
  position: relative;
  height: 60px;
  font-family: $main-font;
  background-color: $primary2;
  color: $secondary1;
  width: 100%;
  border: 1px solid $lines;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;

  > .container {
    color: inherit;
    background-color: inherit;
    width: 100%;
    @include flex-container(row, wrap, flex-start, center);
    padding: 0 20px;

    .name {
      position: relative;
      padding: 15px 0;
      line-height: 1.7;

      @include tablet-to-up { flex-basis: 280px; }
    }

    .nav {
      display: flex;
      flex-basis: 420px;
    }

    .contact {
      cursor: pointer;
      position: absolute;
      right: 0;
    }

    @include mobile {
      .nav, .contact { display: none; }
    }
  }

  .burger-nav {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    @include mobile {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 12px;
      right: 10px;
      padding: 10px;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $secondary1;
        border-radius: 1px;
        margin-bottom: 4px;
      }
    }
  }

  .phone-menu {
    font-family: $main-font;
    width: 100%;
    height: calc($full-viewport-height - 30px);
    background-color: $primary2;
    z-index: 100;
    position: relative;
    top: -58px;
    border-radius: 5px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: $full-viewport-height;
      background-color: $primary1;
      left: -15px;
      top: -15px;
      z-index: -1;
    }

    .remove-phone-menu {
      position: absolute;
      top: 15px;
      right: 15px;
      background: none;
      border: none;
      color: $secondary1;
      font-size: 24px;
      cursor: pointer;
      padding: 5px;
    }

    .phone-body {
      border-radius: 5px 5px 0 0;
      height: calc($full-viewport-height - 88px);
      @include mainMiddleSettings;

      .name {
        padding: 20px;
        border-bottom: 1px solid $lines;
      }

      .phone-sub-navs {
        padding: 15px 20px;
        cursor: pointer;
        color: $secondary1;
        text-decoration: none;
        display: block;
        text-align: center;

        &.active, &:hover { color: $secondary4; }
      }
    }
  }
}
