@use '../../assets/scss/index' as *;

.game-screen {
  margin: 0;
  padding: 30px;
  border-radius: 8px;
  box-shadow: inset 1px 5px 11px 0 #02121b;
  background-color: rgba(1, 8, 14, 50%);
  display: grid;
  grid-template-columns: repeat(15, 14px);
  grid-template-rows: repeat(15, 14px);
  position: relative;
  align-content: center;
  justify-content: center;

  .scores {
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    color: $accent1;
    font-weight: bold;
    text-transform: uppercase;
  }

  .outcome-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn-ghost {
      background-color: $accent1;
      color: $primary1;
      border: none;
      border-radius: 8px;
      padding: 15px 25px;
      font-family: $main-font;
      box-shadow: 0px 5px 5px 3px #00000052;
      user-select: none;
      cursor: pointer;
      white-space: nowrap;

      &:hover { opacity: 0.7; }
    }

    .outcome {
      padding: 20px;
      width: 100%;
      text-align: center;
      box-shadow: inset 0px 2px 15px 9px #0000007d;
      background-color: rgba(0,0,0,0.49);
      color: $gradients2;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .congrats {
      color: $secondary1;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      white-space: nowrap;
    }
  }
}

.snake {
  background-color: $accent2;
  border-radius: 2px;
}

.food {
  background-color: $accent1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 2px;
}
